<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Add new channel
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden border  sm:rounded p-4">
                    <form @submit.prevent="createChannel" >


                            <div class="grid grid-cols-12 gap-4">
                                <div class="col-span-12 lg:col-span-8">
                                    <!-- Url -->
                                    <div class="col-span-6 sm:col-span-4 mb-3">
                                        <jet-label for="name" value="Youtube url"/>
                                        <jet-input id="name" type="text" class="mt-1 block w-full" v-model="form.url"
                                                   autocomplete="url"/>
                                        <jet-input-error :message="form.errors.url" class="mt-2"/>
                                    </div>
                                    <!-- Title -->
                                    <div class="col-span-6 sm:col-span-4 mb-3">
                                        <jet-label for="title" value="Title"/>
                                        <jet-input id="title" type="text" class="mt-1 block w-full" v-model="form.title"
                                                   autocomplete="title"/>
                                        <jet-input-error :message="form.errors.title" class="mt-2"/>
                                    </div>
                                    <!-- Description -->
                                    <div class="col-span-6 sm:col-span-4 mb-3">
                                        <jet-label for="description" value="Description"/>
                                        <textarea id="description" class="mt-1 block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm" v-model="form.description"
                                                  autocomplete="description"></textarea>
                                        <jet-input-error :message="form.errors.description" class="mt-2"/>
                                    </div>
                                    <!-- Points -->
                                    <div class="col-span-6 sm:col-span-4 mb-3">
                                        <jet-label for="title" value="Points"/>
                                        <jet-input id="points" type="text" class="mt-1 block w-full" v-model="form.points"
                                                   autocomplete="points"/>
                                        <jet-input-error :message="form.errors.points" class="mt-2"/>
                                    </div>
                                    <!-- Tables -->
                                    <div class="col-span-6 sm:col-span-4 mb-3">
                                        <jet-label for="title" value="Tables"/>
                                        <jet-input id="tables" type="text" class="mt-1 block w-full" v-model="form.tables"
                                                   autocomplete="tables"/>
                                        <jet-input-error :message="form.errors.tables" class="mt-2"/>
                                    </div>
                                </div>
                            </div>

                        <div class="my-4">
                            <jet-action-message :on="form.recentlySuccessful" class="mr-3">
                                Saved.
                            </jet-action-message>

                            <jet-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                Save
                            </jet-button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </app-layout>

</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetActionMessage from '@/Jetstream/ActionMessage'
import JetButton from '@/Jetstream/Button'
import JetLabel from '@/Jetstream/Label'
import JetInput from '@/Jetstream/Input'
import JetInputError from '@/Jetstream/InputError'
import JetFormSection from '@/Jetstream/FormSection'
export default {
    components: {
        AppLayout,
        JetActionMessage,
        JetButton,
        JetLabel,
        JetInput,
        JetInputError,
        JetFormSection,
    },

    data() {
        return {
            form: this.$inertia.form({
                url: null,
                intro: null,
                title: null,
                description: null,
                tables: null,
                points: null,
            }),
        };
    },
    methods: {
        createChannel() {
            this.form.post(route('channels.store'), {
                errorBag: 'createChannelName',
                preserveScroll: true
            });
        },
    },
}
</script>
