<template>
    <inertia-link :href="href" :class="classes">
        <slot></slot>
    </inertia-link>
</template>

<script>
    export default {
        props: ['href', 'active','classCustom'],

        computed: {
            classes() {
                return this.active
                            ?this.classCustom+ ' inline-flex items-center   text-sm font-medium leading-5  focus:outline-none  transition duration-150 ease-in-out  '
                            : this.classCustom+' inline-flex items-center    text-sm font-medium leading-5   focus:outline-none   transition duration-150 ease-in-out '
            }
        }
    }
</script>
