<template>
    <div>
        <div class="p-6 sm:px-20 bg-white border-b border-gray-200">


            <div class="mt-8 text-2xl">
             Channel list
            </div>


        </div>

    </div>
</template>

<script>
    import JetApplicationLogo from '@/Jetstream/ApplicationLogo'

    export default {
        components: {
            JetApplicationLogo,
        },
    }
</script>
